main{
  background-color:lightgrey;
  padding: 1em 1em;
  border-radius: 0.7em;
}
footer{
    background-image: linear-gradient(to top, rgb(132, 180, 196) 0%, rgb(179, 222, 236) 100%);
    border-radius: 0.7em;
}
hgroup{font-family: Helvetica}
h1 { font-family: Helvetica
 }
h2 {text-align: center;
   font-family: Helvetica;}
h3 {text-align: center;
font-family: Helvetica;}
p{text-align: center;
font-family: Helvetica;
padding-left: 2em;
padding-right: 2em;
padding-top: 1em;
padding-bottom: 1em;}

#nav{list-style-type: none;
margin: 0;
padding: 0;
background-image: linear-gradient(to top,  rgb(132, 180, 196) 0%, rgb(179, 222, 236) 100%);
overflow: hidden;
font-family: Helvetica;
border-radius: 0.7em;}

video{display: block;
    width: 70%;
    height: 80%;
    margin: 0 auto;
        }

@media screen and (min-width:40em) {
video{
        display: block;
    width: 25%;
    height: 80%;
    margin: 0 auto;
    }
#nav  li {
    float: left;
  }
}

li a {display: block;
color: white;
text-align: center;
font-size: 1.5em;
font-weight: bold;
text-decoration: none;
padding: 1em 1.5em}

li a:hover{
  background-color:#61A3C4;
  border-radius: 0.2em;
}

img{
    width: 100%;
}
